{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flickers-tech | About Us</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/images/flickers-tech.png">
    <!-- Remix icons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <!-- Swiper.js styles -->
    <link rel="stylesheet" href="./assets/css/swiper-bundle.min.css" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="./assets/css/main.css">
</head>

<body>
    <!-- Header -->
    <header class="header" id="header">

        <nav class="navbar container">

            <a href="./index.html">
                <h2 class="logo">Flickers-tech</h2>
            </a>

            <div class="menu" id="menu">
                <ul class="list">
                    <li class="list-item">
                        <a href="../index.html" target="./index.html" class="list-link current">Home</a>
                    </li>
                    <li class="list-item">
                        <a href="../hacking/hack.html" target="_blank" class="list-link">Hacking</a>
                    </li>
                    <li class="list-item">
                        <a href="../programming/prog.html" target="_blank" class="list-link">Programming</a>
                    </li>
                    <li class="list-item">
                        <a href="../cybersecurity/cyber.html" target="_blank" class="list-link">Cybersecurity</a>
                    </li>
                    <li class="list-item">
                        <a href="../contact.html" class="list-link">Contact</a>
                    </li>
                    <li class="list-item">
                        <a href="https://discord.gg/gmSprN4ZSs" target="_blank" class="list-link">Discord</a>
                    </li>
                    <li class="list-item">
                        <a href="https://bit.ly/3EYW5gd" target="_blank" class="list-link screen-lg-hidden">Signal</a>
                    </li>
                    </li>
                    <li class="list-item">
                        <a href="https://bit.ly/3Kea6r5" target="_blank" class="list-link screen-lg-hidden">Whatsapp</a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.reddit.com/r/Flickers_techzy/" target="_blank" class="list-link screen-lg-hidden">Reddit</a>
                    </li>
                </ul>
            </div>

            <div class="list list-right">
                <button class="btn place-items-center" id="theme-toggle-btn">
                    <i class="ri-sun-line sun-icon"></i>
                    <i class="ri-moon-line moon-icon"></i>
                </button>


                <button class="btn place-items-center" id="search-icon">
                    <i class="ri-search-line"></i>
                </button>

                <button class="btn place-items-center  screen-lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                    <i class="ri-menu-3-line open-menu-icon"></i>
                    <i class="ri-close-line close-menu-icon"></i>
                </button>

                <a href="https://bit.ly/3EYW5gd" target="_blank" class="list-link screen-sm-hidden">Signal</a>
                <a href="https://bit.ly/3Kea6r5" target="_blank" class="list-link screen-sm-hidden btn sign-up-btn fancy-border">
                    <span>Whatsapp</span>
                </a>
                <a href="https://www.reddit.com/r/Flickers_techzy/" target="_blank" class="list-link screen-sm-hidden btn sign-up-btn fancy-border">
                    <span>Reddit</span>
                </a>
            </div>
        </nav>
    </header>
    <!-- Search -->
    <div class="search-form-container container" id="search-form-container">

        <div class="form-container-inner">

            <form action="" class="form">
                <input type="text" class="form-input" placeholder="What are you looking for?">
                <button class="btn form-btn" type="submit">
                    <i class="ri-search-line"></i>
                </button>
            </form>
            <span class="form-note">or press Esc to close</span>
        </div>

        <button class="btn form-close-btn place-items-center" id="form-close-btn">
            <i class="ri-close-line"></i>
        </button>
    </div>


    <!-- Blog post -->
    <section class="blog-post section-header-offset">

        <div class="blog-post-container container">

            <div class="blog-post-data">
                <h3 class="title blog-post-title">ABOUT US</h3>
                <br>
                <img src="./assets/images/b.jpg" style="width: fit-content;" alt="">
            </div>

            <div class="container">
                <p>Flickers-tech is a website specifically for news, updates, and articles around Programming, Hacking, Cybersecurity. It was founded on 5/01/2022 by Uzoigwe Amamchukwu(REMS) in his dorm @the University of Enugu Campus. Our Goal is to let
                    users have not just the best of ecstatic experience, but also to be informed on things happening in the world of Programming, Hacking and Cybersecurity.
                </p>

                <p>Everyone thinks. It is our nature to do so. But much of our thinking left to itself is biased, distorted, ill-founded, or prejudiced. Much of our thinking leads to problems in our lives. Much of our thinking leads to cruelty and injustice.
                    Of course, the mind doesn’t just think, it also feels and wants. What is the connection? Our thinking shapes and determines how we feel and what we want. When we think well, we are motivated to do things that make sense and motivated
                    to act in ways that help rather than harm ourselves and others.
                </p>

                <blockquote class="quote">
                    <p>
                        <span><i class="ri-double-quotes-l"></i></span> Everyone thinks. It is our nature to do so. But much of our thinking left to itself is biased, distorted, ill-founded, or prejudiced. Much of our thinking leads to problems in our
                        lives.
                        <span><i class="ri-double-quotes-r"></i></span>
                    </p>
                </blockquote>

                <div class="author d-grid">

                    <div class="author-image-box">
                        <img src="./assets/images/amam1.jpg" alt="" class="article-image">
                    </div>

                    <div class="author-about">
                        <h3 class="author-name">Uzoigwe Amamchukwu</h3>
                        <p> Much of our thinking leads to problems in our lives.
                        </p>

                        <ul class="list social-media">
                            <li class="list-item">
                                <a href="" class="list-link">
                                    <i class="ri-instagram-line"></i>
                                </a>
                                <a href="" class="list-link">
                                    <i class="ri-facebook-circle-line"></i>
                                </a>
                                <a href="" class="list-link">
                                    <i class="ri-twitter-line"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>



        </div>
    </section>
    <!-- Footer -->
    <!-- Footer -->
    <footer class="footer section">

        <div class="footer-container container d-grid">

            <div class="company-data">
                <a href="./index.html">
                    <h2 class="logo">Flickers-tech</h2>
                </a>
                <p class="company-description">
                    Keep yourself up-to-date on what's going on around the world in - Hacking-Programming-Cybersecurity.
                </p>

                <ul class="list social-media">
                    <li class="list-item">
                        <a href="" class="list-link">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="" class="list-link">
                            <i class="ri-facebook-circle-line"></i>
                        </a>
                        <a href="" class="list-link">
                            <i class="ri-twitter-line"></i>
                        </a>
                        <a href="" class="list-link">
                            <i class="ri-pinterest-line"></i>
                        </a>
                    </li>
                </ul>

                <span class="copyright-notice">
                    &copy; 2024 G2G-MILLIONAIRES.
                     All rights reserved.</span>
            </div>

            <div>
                <h6 class="title footer-title">Categories</h6>

                <ul class="list footer-list">
                    <li class="list-item">
                        <a href="../index.html" class="list-link">Home</a>
                    </li>
                    <li class="list-item">
                        <a href="../hacking/hack.html" target="./hack.html" class="list-link">Hacking</a>
                    </li>
                    <li class="list-item">
                        <a href="../programming/prog.html" target="./prog.html" class="list-link">Programming</a>
                    </li>
                    <li class="list-item">
                        <a href="../cybersecurity/cyber.html" target="./cyber.html" class="list-link">Cybersecurity</a>
                    </li>
                    <li class="list-item">
                        <a href="../contact.html" target="./contact.html" class="list-link">Contact</a>
                    </li>
                    <li class="list-item">
                        <a href="https://discord.gg/gmSprN4ZSs" target="_blank" class="list-link">Discord</a>
                    </li>
                    <li class="list-item">
                        <a href="https://bit.ly/3EYW5gd" target="_blank">Signal</a>
                    </li>
                    </li>
                    <li class="list-item">
                        <a href="https://bit.ly/3Kea6r5" target="_blank">Whatsapp</a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.reddit.com/r/Flickers_techzy/" target="_blank">Reddit</a>
                    </li>
                </ul>
            </div>

            <div>
                <h6 class="title footer-title">Useful Links</h6>

                <ul class="list footer-list">
                    <li class="list-item">
                        <a href="" class="list-link">Hackers-Diary</a>
                    </li>
                </ul>
            </div>

            <div>
                <h6 class="title footer-title">Company</h6>

                <ul class="list footer-list">
                    <li class="list-item">
                        <a href="£" class="list-link">About Us</a>
                    </li>
                    <li class="list-item">
                        <a href="" class="list-link">Privacy Policy</a>
                    </li>
                    <li class="list-item">
                        <a href="" class="list-link">Terms and Conditions</a>
                    </li>
                </ul>
            </div>

        </div>
    </footer>

    <!-- Swiper.js -->
    <script src="./assets/js/swiper-bundle.min.js"></script>
    <!-- Custom script -->
    <script src="./assets/js/main.js"></script>
</body>

</html>