{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Programming, Programming Languages, Top 5 Programming Languages.">
    <meta name="title" content="Top 5 Programming Languages That You Must Learn in 2022 (Everything You Need To Know)">
    <meta name="description" content="Choosing a programming language as a beginner or one who wants to take your coding skills to the next level could be a very difficult decision to make as there are over 500 programming languages used for different things.">
    <title>G2G Millionaires| Blog</title>
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="{% static './assets/images/1.png' %}">
    <!-- Remix icons -->
    <link href="{% static 'https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css' %}" rel="stylesheet">
    <!-- Swiper.js styles -->
    <link rel="stylesheet" href="{% static './assets/css/swiper-bundle.min.css' %}" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="{% static './assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static './assets/css/contact.css' %}">

    <style>
        .box ol {
            padding-left: 3rem;
        }
        
        h4 {
            color: white;
        }
        
        .in-topic {
            font-weight: bold;
            font-size: 20px;
        }
        
        h4 {
            text-transform: uppercase;
            font-weight: 300;
            font-size: 20px;
        }
        
        em {
            color: rgb(255, 0, 0);
        }
        
        p {
            padding: 1.3rem;
        }
    </style>
</head>

<body>
    <!-- Header -->
    <header class="header" id="header">

        <nav class="navbar container">

            <a href="./index.html">
                <h2 class="logo">Flickers-tech</h2>
            </a>

            <div class="menu" id="menu">
                <ul class="list">
                    <li class="list-item">
                        <a href="../index.html" target="./index.html" class="list-link current">Sales</a>
                    </li>
                    <li class="list-item">
                        <a href="../hacking/hack.html" target="_blank" class="list-link">Marketing</a>
                    </li>
                    <li class="list-item">
                        <a href="../programming/prog.html" target="_blank" class="list-link">Affiliate Marketing</a>
                    </li>
                    <li class="list-item">
                        <a href="../cybersecurity/cyber.html" target="_blank" class="list-link">Human-Psychology</a>
                    </li>
                    <li class="list-item">
                        <a href="../contact.html" class="list-link">Contact</a>
                    </li>
                    <li class="list-item">
                        <a href="https://discord.gg/gmSprN4ZSs" target="_blank" class="list-link">Discord</a>
                    </li>
                    <li class="list-item">
                        <a href="https://bit.ly/3EYW5gd" target="_blank" class="list-link screen-lg-hidden">Signal</a>
                    </li>
                    </li>
                    <li class="list-item">
                        <a href="https://bit.ly/3Kea6r5" target="_blank" class="list-link screen-lg-hidden">Whatsapp</a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.reddit.com/r/Flickers_techzy/" target="_blank" class="list-link screen-lg-hidden">Reddit</a>
                    </li>
                </ul>
            </div>

            <div class="list list-right">
                <button class="btn place-items-center" id="theme-toggle-btn">
                    <i class="ri-sun-line sun-icon"></i>
                    <i class="ri-moon-line moon-icon"></i>
                </button>

                <button class="btn place-items-center" id="search-icon">
                    <i class="ri-search-line"></i>
                </button>

                <button class="btn place-items-center screen-lg-hidden menu-toggle-icon" id="menu-toggle-icon">
                    <i class="ri-menu-3-line open-menu-icon"></i>
                    <i class="ri-close-line close-menu-icon"></i>
                </button>

                <a href="https://bit.ly/3EYW5gd" target="_blank" class="list-link screen-sm-hidden">Signal</a>
                <a href="https://bit.ly/3Kea6r5" target="_blank" class="list-link screen-sm-hidden btn sign-up-btn fancy-border">
                    <span>Whatsapp</span>
                </a>
                <a href="https://www.reddit.com/r/Flickers_techzy/" target="_blank" class="list-link screen-sm-hidden btn sign-up-btn fancy-border">
                    <span>Reddit</span>
                </a>
            </div>
        </nav>

    </header>

    <!-- Search -->
    <div class="search-form-container container" id="search-form-container">

        <div class="form-container-inner">

            <form action="" class="form">
                <input type="text" class="form-input" placeholder="What are looking for?">
                <button class="btn form-btn" type="submit">
                    <i class="ri-search-line"></i>
                </button>
            </form>
            <span class="form-note">Or press ESC to close.</span>
        </div>

        <button class="btn form-close-btn place-items-center" id="form-close-btn">
            <i class="ri-close-line"></i>
        </button>

    </div>
    <!-- Blog post -->

    <section class="blog-post section-header-offset">
        {% for sp3 in spac %}
        <div class="blog-post-container container">

            <div class="blog-post-data">
                <h1 class="title blog-post-title">{{sp3.title}}</h1>
                <div class="article-data">
                    <span>{{sp3.created_at | timesince}}</span>
                    <span class="article-data-spacer"></span>
                    <span>6 min read</span>
                </div>
                <img src=" {{sp3.header_image.url}} " alt="">
            </div>

            <div class="container">
                <article>
                    <span><p class="in-topic"></p></span>

                    <h2>Introduction:</h2>
                    <br>
                    <span>
                        
                        {{sp3.content|safe}}
                    </span>

                    <p>READ MORE <a href="flickers-tech.xyz" target="_blank"><em>g2gmillionaires.com</em></a></p>
                </article>
                <div class="author d-grid">

                    <div class="author-image-box">
                        <img src="./assets/images/amam1.jpg" alt="" class="article-image">
                    </div>

                    <div class="author-about">
                        <h3 class="author-name">
                            <p>Written By {{sales_pg.writer}}</p>
                        </h3>
                        <p>Writer | Affiliate Marketer.</p>

                        <ul class="list social-media">
                            <li class="list-item">
                                <a href="" class="list-link">
                                    <i class="ri-instagram-line"></i>
                                </a>
                                <a href="" class="list-link">
                                    <i class="ri-facebook-circle-line"></i>
                                </a>
                                <a href="" class="list-link">
                                    <i class="ri-twitter-line"></i>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>
        {% endfor %}

    </section>

    <!-- Footer -->
    <footer class="footer section">

        <div class="footer-container container d-grid">

            <div class="company-data">
                <a href="./index.html">
                    <h2 class="logo">Flickers-tech</h2>
                </a>
                <p class="company-description">
                    Keep yourself up-to-date on what's going on around the world in - Hacking-Programming-Cybersecurity.
                </p>

                <ul class="list social-media">
                    <li class="list-item">
                        <a href="" class="list-link">
                            <i class="ri-instagram-line"></i>
                        </a>
                        <a href="" class="list-link">
                            <i class="ri-facebook-circle-line"></i>
                        </a>
                        <a href="" class="list-link">
                            <i class="ri-twitter-line"></i>
                        </a>
                        <a href="" class="list-link">
                            <i class="ri-pinterest-line"></i>
                        </a>
                    </li>
                </ul>

                <span class="copyright-notice">
                    &copy; 2022 Flickers-tech.
                     All rights reserved.</span>
            </div>

            <div>
                <h6 class="title footer-title">Categories</h6>

                <ul class="list footer-list">
                    <li class="list-item">
                        <a href="../index.html" class="list-link">Home</a>
                    </li>
                    <li class="list-item">
                        <a href="../hacking/hack.html" target="./hack.html" class="list-link">Hacking</a>
                    </li>
                    <li class="list-item">
                        <a href="../programming/prog.html" target="./prog.html" class="list-link">Programming</a>
                    </li>
                    <li class="list-item">
                        <a href="../cybersecurity/cyber.html" target="./cyber.html" class="list-link">Cybersecurity</a>
                    </li>
                    <li class="list-item">
                        <a href="../contact.html" target="./contact.html" class="list-link">Contact</a>
                    </li>
                    <li class="list-item">
                        <a href="https://discord.gg/gmSprN4ZSs" target="_blank" class="list-link">Discord</a>
                    </li>
                    <li class="list-item">
                        <a href="https://bit.ly/3EYW5gd" target="_blank">Signal</a>
                    </li>
                    </li>
                    <li class="list-item">
                        <a href="https://bit.ly/3Kea6r5" target="_blank">Whatsapp</a>
                    </li>
                    <li class="list-item">
                        <a href="https://www.reddit.com/r/Flickers_techzy/" target="_blank">Reddit</a>
                    </li>
                </ul>
            </div>

            <div>
                <h6 class="title footer-title">Useful Links</h6>

                <ul class="list footer-list">
                    <li class="list-item">
                        <a href="" class="list-link">Hackers-Diary</a>
                    </li>

                </ul>
            </div>

            <div>
                <h6 class="title footer-title">Company</h6>

                <ul class="list footer-list">
                    <li class="list-item">
                        <a href="../about-us.html" class="list-link">About Us</a>
                    </li>
                    <li class="list-item">
                        <a href="" class="list-link">Privacy Policy</a>
                    </li>
                    <li class="list-item">
                        <a href="" class="list-link">Terms and Conditions</a>
                    </li>
                </ul>
            </div>

        </div>
    </footer>

    <!-- Swiper.js -->
    <script src="./assets/js/swiper-bundle.min.js"></script>
    <!-- Custom script -->
    <script src="./assets/js/main.js"></script>
</body>

</html>